# do not copy Rust builds anywhere in the tree
**/target/**
# do not copy git dir
.git
# Makefile build outputs
/build/

# ignore a few files so edits don't invalidate Docker's cache
Dockerfile
Makefile
README.md
